include README.html
include README.md
include README
include unicode-license.txt
include COPYING
include ChangeLog
include Makefile
include MANIFEST.in
include test_cases.py
include main.py
recursive-include tools *
